body {
  	background-color: white;
}

canvas {
  	background-color: #3498db;
}

h1 {
  	color: white;
  	margin-left: auto;
  	text-align: center;
  	background-color: maroon;
  	font-family: "Lato", sans-serif;
}

p {
  	background-color: maroon;
  	color: white;
  	font-family: "Montserrat", sans-serif;
}
