body {
  background-color: black;
}

canvas {
  border: 1px solid #d3d3d3;
  background-color: black;
}

h1 {
  color: white;
  margin-left: auto;
  text-align: center;
  background-color: maroon;
  font-family: "Lato", sans-serife
}

p{
  margin: auto;
  background-color: maroon;
  color: white;
  font-family: "Montserrat", sans-serif
}
